/* Slime font  */
@font-face {
  font-family: Freude;
  src: url(/fonts/freude.woff2) format('woff2'),
       url(/fonts/freude.woff) format('woff');
}

/* Change headings and author names to blue  */
h1, h2, h3, h4, h5, h6 {
    color: #528af0;
}

.portrait-title h2 {
    color: #528af0;
}
