/* Freude font  */
@font-face {
  font-family: Freude;
  src: url(/fonts/freude.woff2) format('woff2'),
       url(/fonts/freude.woff) format('woff');
}

/* Congenial Light font  */
@font-face {
  font-family: Congenial Light;
  src: url(/fonts/congenial-light.woff2) format('woff2'),
       url(/fonts/congenial-light.woff) format('woff');
}

/* Slime header Mobile */
.home-section:first-of-type.slime-header {
  background-image: url("/media/slime-header.jpg");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Slime header Desktop */
@media only screen and (min-width: 400px) {
  .home-section:first-of-type.slime-header {
  background-image: url("/media/slime-header.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	}
}

/* Change headings and author names to blue  */
h1, h2, h3, h4, h5, h6 {
    color: #528af0;
}

.portrait-title h2 {
    color: #528af0;
}

/* Disable underline  */
a:hover {
    text-decoration: none;
}

/* Change color of back-to-top-of-page chevron  */
site-footer, footer a.back-to-top i {
    color: rgba(77, 135, 239, 1);
}

/* Menu item hover over color  */
#navbar-main .main-menu-item ul li .nav-link:hover {
    color: #145feb;
}

/* Holy Slime sub text  */
.hero-lead {
    font-size: 0.95rem;
}

/* Carousel Indicators  */
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* Avatar Circle border  */
.avatar-circle {
    border: 5px solid #4d87ef;
}

/* Disable fade in for images  */
.home-section {
    animation: none;
    animation-delay: 0s;
}

/* Sticky footer  */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 140px;
  background-image: url(/media/slime-drips-upsidedown.svg);
  background-size: cover;
  background-position: left;
  z-index: 999;
}

/* Contact form styling  */
.contactform {
  padding-bottom: 150px
}

textarea {
  outline: none;
  border-radius: 25px;
  border: 5px solid #4d87ef;
  padding: 15px;
  width: 75%;
  height: 250px;
  resize: none;
}

textarea:focus {
  border: 5px solid #145feb;
}

.dark input {
  outline: none;
  box-shadow: none;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: none;
  border: 0px;
  background-color: #4d87ef;
  position: relative;
  display: inline-block;
  padding: 10px 35px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

button, input:hover {
  background-color: #145feb;
  border: 0px;
}

/* Gallery styling  */
.nanogallery_gallerytheme_custom_ngy2p .nGY2GThumbnail {
    border-radius: 50%!important;
}
