@font-face {
    font-family: 'freuderegular';
    src: url('fonts/freude-webfont.woff2') format('woff2'),
         url('fonts/freude-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
