<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">          
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.2/css/nanogallery2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.2/jquery.nanogallery2.min.js"></script>
<script type="text/javascript" src="https://modest-lewin-957763.netlify.app/assets/js/custom.js"></script>

<style>
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #145feb;  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b66fff; 
}
</style>