<center><h1>Silly Slimes</h1></center>

<div ID="ngy2p" data-nanogallery2='{
		"itemsBaseURL": "https://modest-lewin-957763.netlify.app/media/",
		"thumbnailWidth": "150",
		"thumbnailHeight": "150",
		"thumbnailBorderVertical": 0,
		"thumbnailBorderHorizontal": 0,
		"colorScheme": {
			"thumbnail": {
				"borderColor": "rgba(10,0,255,1)"
			}
		},
		"thumbnailLabel": {
			"position": "overImageOnBottom",
			"display": false
		},
		"thumbnailHoverEffect2": "scale120",
		"galleryLastRowFull": true,
		"thumbnailAlignment": "center",
		"thumbnailGutterWidth": 1,
		"thumbnailGutterHeight": 1,
		"thumbnailOpenImage": true
	}'>
	<a href="slime-bewbs.jpg" data-ngthumb="slime-bewbs.jpg" data-ngdesc="">Berlin 1</a>
	<a href="slime-bewbs.jpg" data-ngthumb="slime-bewbs.jpg" data-ngdesc="">Berlin 2</a>
	<a href="slime-bewbs.jpg" data-ngthumb="slime-bewbs.jpg" data-ngdesc="">Berlin 3</a>

</div>
